<p id="notice"><%= notice %></p>

<p>
  <strong> name:</strong>
  <%= @part. name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @part.description %>
</p>

<p>
  <strong>Cars:</strong>
  <%= @part.cars %>
</p>

<%= link_to 'Edit', edit_part_path(@part) %> |
<%= link_to 'Back', parts_path %>
